body{
    font-family: inherit;
    box-sizing: border-box;
}
.language-selected{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.language-selected::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("3253496_flag_india_country_world_icon.png");
}
.selector ul{
    width: 142px;
    padding: 0;
    background-color: #f2f2f2;
    border: 1px solid black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.selector ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.selector ul li a{
    width: 125px;
    display: block;
    padding: 2px 8px;
}
.selector ul li a::before{
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-top: 5px;
        vertical-align: middle;
        background-image: url("3253496_flag_india_country_world_icon.png");
}
.selector ul li a:hover{
    background-color: #fff;
}

.selector:hover ul{
    display: block;
}